<!DOCTYPE html>
<html>
<head>
	<title>Motorhead Automotive - Contact</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="shortcut icon" href="images/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="header">
	<div class="container-fluid">
		<div class="navbar">
			<h2> 	
				<img src="images/logo.png" width="100">
				Motorhead Automotive
			</h2>
			<ul>
				<a href="/"><li>HOME</li></a>
				<a href="/services"><li>SERVICES</li></a>
				<a href="/"><li>OUR WORK</li></a>
				<a href="/"><li>ABOUT US</li></a>
				<a href="/contact"><li>CONTACT</li></a>
			</ul>
		</div>
		<div class="navbar-responsive">
			<img src="images/logo.png" width="80">
			<span> 	
				Motorhead Automotive
			</span>
			<i class="fas fa-bars"></i>
			<ul id="resList">
				<a href="/"><li>HOME</li></a>
				<a href="/services"><li>SERVICES</li></a>
				<a href="/"><li>OUR WORK</li></a>
				<a href="/"><li>ABOUT US</li></a>
				<a href="/contact"><li>CONTACT</li></a>
			</ul>
		</div>
	</div>
</div>
<div class="main">
	<div id="contact" class="container-fluid">
		<div class="table">
			<div class="row">
				<div class="col-sm-6">
					<h2>CONTACT</h2>
					<h4>Motorhead Automotive BD</h4>
					<br>
					<a style="color: black;" href="https://www.facebook.com/motorheadauto/"><i style="font-size: 20px;" class="fab fa-facebook-square"></i> facebook.com/motorheadauto</a><br>
					<a style="color: black;" href="https://www.instagram.com/motorheadbd/?hl=en"><i  style="font-size: 20px;" class="fab fa-instagram"></i> instagram.com/motorheadbd</a><br>
					<span><i  style="font-size: 20px;" class="fas fa-phone"></i> +880 1718-147786</span><br>
					<span><i  style="font-size: 20px;" class="fas fa-envelope"></i> leonerdotmnt@gmail.com</span>
					<br>
					<br>
					<img src="images/logo.png" width="200">
				</div>
				<div class="col-sm-6">
					<h2>GENERAL ENQUIRY</h2>
					<br>
					<input class="name" type="text" name="name" placeholder="Name"><br>
					<br>
					<input type="text" name="email" placeholder="Your email"><br>
					<br>
					<input type="text" name="sub" placeholder="Subject"><br>
					<h4>Comments</h4>
					<textarea rows="10" cols="40" name="mailTxt"></textarea>
					<br>
					<input type="button" name="submit" class="btn btn-primary" value="Submit">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer" style="background-color: black;">
	<div class="container-fluid" style="text-align: center; font-weight: bolder; color: white;">
		<br>
		<br>
		<img style="float: left;" src="images/logo.png" width="60">
		<span>&copy MotorheadAutomotive 2018</span><br>
		<a style="color: white;" href="https://www.facebook.com/motorheadauto/"><i style="font-size: 30px;" class="fab fa-facebook-square"></i></a>
		<a style="color: white;" href="https://www.instagram.com/motorheadbd/?hl=en"><i  style="font-size: 30px;" class="fab fa-instagram"></i></a><br>
		<span>+880 1718-147786</span>
		<br>
		<br>
	</div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>