<!DOCTYPE html>
<html>
<head>
	<title>Motorhead Automotive - Home</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="shortcut icon" href="images/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>

<div class="header">
	<div class="container-fluid">
		<div class="navbar">
			<h2> 	
				<img src="images/logo.png" width="100">
				Motorhead Automotive
			</h2>
			<ul>
				<a href="/"><li>HOME</li></a>
				<a href="/services"><li>SERVICES</li></a>
				<a href="#ourWork"><li>OUR WORK</li></a>
				<a href="#aboutUs"><li>ABOUT US</li></a>
				<a href="/contact"><li>CONTACT</li></a>
			</ul>
		</div>
		<div class="navbar-responsive">
			<img src="images/logo.png" width="80">
			<span> 	
				Motorhead Automotive
			</span>
			<i class="fas fa-bars"></i>
			<ul id="resList">
				<a href="/"><li>HOME</li></a>
				<a href="/services"><li>SERVICES</li></a>
				<a href="#ourWork"><li>OUR WORK</li></a>
				<a href="#aboutUs"><li>ABOUT US</li></a>
				<a href="/contact"><li>CONTACT</li></a>
			</ul>
		</div>
	</div>
</div>
<div class="slideshow">
	<div class="img1 slide"></div>
	<div class="img2 slide"></div>
	<div class="img3 slide"></div>
</div>
<div class="overlay"></div>
<div class="overlay-text">
	<h1>MOTORHEAD AUTOMOTIVE</h1>
</div>
<br>
<br>
<div class="main">
	<h2 id="prov">ABOUT US</h2>
	<p>Motorhead Automotive is a car repair and maintenance workshop. We provide all sorts of services related to your car. Paintjobs, widebody builds,<br> engine swaps and other essential services related to perfomance. </p>
	<br>
	<br>
	<div class="container-fluid" id="ourWork">
		<h2>OUR WORK</h2>
		<div class="table" align="center">
			<div class="row">
				<div class="col-sm-4">
					<img src="images/pic1.jpg">
				</div>
				<div class="col-sm-4">
					<img src="images/pic2.jpg">
				</div>
				<div class="col-sm-4">
					<img src="images/pic3.jpg">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<img src="images/pic4.jpg">
				</div>
				<div class="col-sm-4">
					<img src="images/pic5.jpg">
				</div>
				<div class="col-sm-4">
					<img src="images/pic6.jpg">
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div class="container-fluid" id="aboutUs">
		<h2>ABOUT US</h2>
		<br>
		<div class="table" align="center">
			<div class="row r1">
				<div class="col-sm-6">
					 <h3>FIND US</h3>
					 <h4>South Jagonnathpur, Soudi Masjid<br>
					 Road, Vatara, Dhaka<br>
					 Dhaka, Bangladesh
					 </h4> 
				</div>
				<div class="col-sm-6">
					<i class="fas fa-map-marker-alt"></i>
				</div>
			</div>
			<div class="row r2">
				<div class="col-sm-12">
					<h3>WHO ARE WE?</h3>
					<p>Founded by <strong>Adnan Ahmed</strong> we provide you with the<br> best services for your car. Owned by a petrol head, this is a automotive repair <br>centre for all the petrol heads out there. Read more about <a href="#prov">what we provide</a>.</p>
				</div>
			</div>
			<div class="row r3">
				<div class="col-sm-6">
					<h3>CONTACT US</h3>
					<p>Call us now at <strong>+880 1718-147786</strong></p>
					<p>Feel free to visit our <a href="contact">Contact</a> page for social media and enquiry page.</p>
				</div>
				<div class="col-sm-6">
					<i class="fas fa-address-book"></i>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
<i class="fas fa-cog"></i>
		<br>
		<br>
	</div>
</div>
<br>
<div class="footer" style="background-color: black;">
	<div class="container-fluid" style="text-align: center; font-weight: bolder; color: white;">
		<br>
		<br>
		<img style="float: left;" src="images/logo.png" width="60">
		<span>&copy MotorheadAutomotive 2018</span><br>
		<a style="color: white;" href="https://www.facebook.com/motorheadauto/"><i style="font-size: 30px;" class="fab fa-facebook-square"></i></a>
		<a style="color: white;" href="https://www.instagram.com/motorheadbd/?hl=en"><i  style="font-size: 30px;" class="fab fa-instagram"></i></a><br>
		<span>+880 1718-147786</span>
		<br>
		<br>
	</div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>
