<!DOCTYPE html>
<html>
<head>
	<title>Motorhead Automotive - Home</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="shortcut icon" href="images/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="header">
	<div class="container-fluid">
		<div class="navbar">
			<h2> 	
				<img src="images/logo.png" width="100">
				Motorhead Automotive
			</h2>
			<ul>
				<a href="/"><li>HOME</li></a>
				<a href="/services"><li>SERVICES</li></a>
				<a href="/"><li>OUR WORK</li></a>
				<a href="/"><li>ABOUT US</li></a>
				<a href="/contact"><li>CONTACT</li></a>
			</ul>
		</div>
		<div class="navbar-responsive">
			<img src="images/logo.png" width="80">
			<span> 	
				Motorhead Automotive
			</span>
			<i class="fas fa-bars"></i>
			<ul id="resList">
				<a href="/"><li>HOME</li></a>
				<a href="/services"><li>SERVICES</li></a>
				<a href="/"><li>OUR WORK</li></a>
				<a href="/"><li>ABOUT US</li></a>
				<a href="/contact"><li>CONTACT</li></a>
			</ul>
		</div>
	</div>
</div>
<br>
<h2 style="text-align: center;">PRICE LISTINGS</h2>
<p style="text-align: center;">PS: These are just a few of the services we provide. For more information, <a href="contact">contact</a> us.</p>
<br>
<div class="main">
	<div class="tabContainer">
    <div class="buttonContainer">
        <button onclick="showPanel(0)">Body Shop</button>
        <button onclick="showPanel(1)">Engine/Mechanical system</button>
        <button onclick="showPanel(2)">System checkups</button>
        <button onclick="showPanel(3)">Cooling system</button>
        <button onclick="showPanel(4)">Brake system</button>
        <button onclick="showPanel(5)">Transmission system</button>
        <button onclick="showPanel(6)">Fuel system</button>
        <button onclick="showPanel(7)">Suspension system</button>
        <button onclick="showPanel(8)">Ignition system</button>
    </div>
    <div class="tabPanel"><table>
    		<tr>
    			<td>Vehicle Polish</td>
    			<td>TK1500/TK2500</td>
    		</tr>
    		<tr>
    			<td>Complete vehicle painting(car)</td>
    			<td>TK65000</td>
    		</tr>
    		<tr>
    			<td>Complete vehicle painting(SUV)</td>
    			<td>TK70000/75000</td>
    		</tr>
    		<tr>
    			<td>Complete vehicle painting(Van)</td>
    			<td>TK60000</td>
    		</tr>
    		<tr>
    			<td>Complete vehicle painting(Pick-up)</td>
    			<td>TK60000</td>
    		</tr>
    		<tr>
    			<td>Complete vehicle polish</td>
    			<td>TK3500</td>
    		</tr>
    	</table>
    </div>
    <div class="tabPanel"><table>
    		<tr>
    			<td>Engine overhauling</td>
    			<td>TK7500(Car)/TK9500(Micro)/<br>TK12000(JEEP)</td>
    		</tr>
    		<tr>
    			<td>Engine top overhauling</td>
    			<td>TK5000(Car)/TK7000(Micro)/<br>TK12000(JEEP)</td>
    		</tr>
    		<tr>
    			<td>Engine assembly replacement</td>
    			<td>TK5500(Car)/TK7500(Micro)/<br>TK10000(JEEP)</td>
    		</tr>
    		<tr>
    			<td>Engine valve timing belt replacement</td>
    			<td>TK1000(Car)/TK1200(Micro)/<br>TK2200(JEEP)</td>
    		</tr>
    		<tr>
    			<td>Internal timing check & adjustment</td>
    			<td>TK900(Car)/TK1200(Micro)/<br>TK2200(JEEP)</td>
    		</tr>
    	</table></div>
    <div class="tabPanel"><table>
    		<tr>
    			<td>EFI system checkup (Complete major)</td>
    			<td>TK6000(Car)/TK7500(Micro/JEEP)</td>
    		</tr>
    		<tr>
    			<td>EFI system checkup (Normal major)</td>
    			<td>TK2500(Car)/TK3500(Micro/JEEP</td>
    		</tr>
    	</table></div>
    <div class="tabPanel"><table>
    		<tr>
    			<td>Radiator wash</td>
    			<td>TK500</td>
    		</tr>
    		<tr>
    			<td>Water pump replace</td>
    			<td>TK900</td>
    		</tr>
    		<tr>
    			<td>Hose pipe replace (each)</td>
    			<td>TK100</td>
    		</tr>
    		<tr>
    			<td>Thermal valve replace</td>
    			<td>TK250</td>
    		</tr>
    		<tr>
    			<td>Cooling fan replace</td>
    			<td>TK300</td>
    		</tr>
    	</table></div>
    <div class="tabPanel"><table>
    		<tr>
    			<td>Brake show replace (rear)</td>
    			<td>TK400</td>
    		</tr>
    		<tr>
    			<td>Brake pads replace</td>
    			<td>TK300</td>
    		</tr>
    		<tr>
    			<td>Master cylinder replace</td>
    			<td>TK900</td>
    		</tr>
    		<tr>
    			<td>Master cylinder overhauling</td>
    			<td>TK1202</td>
    		</tr>
    		<tr>
    			<td>Caliper kit replace</td>
    			<td>TK850</td>
    		</tr>
    	</table></div>
    <div class="tabPanel"><table>
    		<tr>
    			<td>Gear box overhauling (manual)</td>
    			<td>TK6500</td>
    		</tr>
    		<tr>
    			<td>Gear box overhauling (auto)</td>
    			<td>TK8500</td>
    		</tr>
    		<tr>
    			<td>Gear box servicing</td>
    			<td>TK800</td>
    		</tr>
    		<tr>
    			<td>Gear box replace (manual)</td>
    			<td>TK2200</td>
    		</tr>
    		<tr>
    			<td>Gear box replace (auto)</td>
    			<td>TK2200</td>
    		</tr>
    	</table></div>
    <div class="tabPanel"><table>
    		<tr>
    			<td>Fuel filter replace</td>
    			<td>TK100</td>
    		</tr>
    		<tr>
    			<td>Fuel pump replace</td>
    			<td>TK350</td>
    		</tr>
    		<tr>
    			<td>Fuel tank wash</td>
    			<td>TK1200</td>
    		</tr>
    		<tr>
    			<td>Clutch padel adjustment</td>
    			<td>TK300</td>
    		</tr>
    		<tr>
    			<td>Clutch cable replace</td>
    			<td>TK400</td>
    		</tr>
    	</table></div>
    <div class="tabPanel"><table>
    		<tr>
    			<td>Suspension system overhauling</td>
    			<td>TK1600-2200</td>
    		</tr>
    		<tr>
    			<td>Shock absorber replace (each)</td>
    			<td>TK400-500</td>
    		</tr>
    		<tr>
    			<td>Shock absorber mounting replace</td>
    			<td>TK400-450</td>
    		</tr>
    		<tr>
    			<td>Cross member assy replace</td>
    			<td>TK650-900</td>
    		</tr>
    		<tr>
    			<td>Front upper arm assy replace</td>
    			<td>TK650-900</td>
    		</tr>
    	</table></div>
    <div class="tabPanel"><table>
    		<tr>
    			<td>Ignition system overhauling</td>
    			<td>TK950-1250</td>
    		</tr>
    		<tr>
    			<td>Ignition coil replace</td>
    			<td>TK250-500</td>
    		</tr>
    		<tr>
    			<td>Distributor replace</td>
    			<td>TK500-750</td>
    		</tr>
    		<tr>
    			<td>Spark plug servicing</td>
    			<td>TK50-1000</td>
    		</tr>
    		<tr>
    			<td>Distributor overhauling</td>
    			<td>TK550-850</td>
    		</tr>
    	</table></div>
</div>
</div>
<br>
<div class="footer" style="background-color: black;margin-top: 100px;">
	<div class="container-fluid" style="text-align: center; font-weight: bolder; color: white;">
		<br>
		<br>
		<img style="float: left;" src="images/logo.png" width="60">
		<span>&copy MotorheadAutomotive 2018</span><br>
		<a style="color: white;" href="https://www.facebook.com/motorheadauto/"><i style="font-size: 30px;" class="fab fa-facebook-square"></i></a>
		<a style="color: white;" href="https://www.instagram.com/motorheadbd/?hl=en"><i  style="font-size: 30px;" class="fab fa-instagram"></i></a><br>
		<span>+880 1718-147786</span>
		<br>
		<br>
	</div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="ser.js"></script>
</body>
</html>